@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Handlee');

*, *:after, *:before{
  box-sizing:border-box;
  margin:0;
  padding:0;
  transition: all 100ms ease-in;
}
html{
	background: #0d0220;
}
.happy{
  width: 100%;
  font-family: 'Kaushan Script', sans-serif;
  font-size: 100px;
  font-weight: 700;
  color: #f48fb1;
  text-align: center;
  position: absolute;
  top: 50%;
  opacity: 0;
  -webkit-animation: in_happy 2s ease-in-out 7s forwards;
          animation: in_happy 2s ease-in-out 7s forwards;
}
.new_year{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 200px 100px 0px 0px;
}
.new_year>span{
  font-family: 'Cabin Sketch', cursive;
  font-size: 175px;
  font-weight: 700;
  color: #7a8fe8;
}
span.eight{
  position: absolute;
  top: 50%;
  right: 50%;
  margin-right: -200px;
  -webkit-animation: out_2018 5s ease-in-out 5s forwards;
          animation: out_2018 5s ease-in-out 5s forwards;
}
span.nine{
  position: absolute;
  right: 0%;
  margin-right: -200px;
  -webkit-animation: in_2019 6s ease-in-out forwards;
          animation: in_2019 6s ease-in-out forwards;
}
span.nine:before{
  content: '';
  width: 0px;
  height: 6px;
  display: block;
  border-radius: 3px;
  background: #7a8fe8;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  position: absolute;
  top: 55px;
  left: 10px;
  z-index: -1;
  -webkit-animation: entry_balloon 1s ease-in-out 4s;
          animation: entry_balloon 1s ease-in-out 4s;
}
.balloon{
  width: 100px;
  height: 100px;
  display: block;
  background: #ffd500;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -165px;
  right: 0%;
  margin-right: -200px;
  -webkit-animation: in_and_out_balloon 10s ease-in-out forwards;
          animation: in_and_out_balloon 10s ease-in-out forwards;
}
.balloon:before{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #f3e309 transparent;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: -10px;
  z-index: -1;
}
.balloon:after{
  content: '';
  width: 4px;
  height: 100px;
  display: block;
  background: #fff;
  border-radius: 0px 0px 3px 3px;
  position: absolute;
  left: 50%;
  margin-left: -2px;
  bottom: -110px;
}
.fireworks{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.fireworks>div{
  border: 2px solid #fff;
  position: absolute;
  opacity: 0;
  -webkit-animation: drop_fireworks 1.5s ease-in-out 8s forwards;
          animation: drop_fireworks 1.5s ease-in-out 8s forwards;
}
.fireworks>div.f1{
  left: 10%;
  top: 30%;
}
.fireworks>div.f2{
  left: 15%;
  top: 70%;
}
.fireworks>div.f3{
  right: 10%;
  top: 30%;
}
.fireworks>div.f4{
  right: 15%;
  top: 70%;
}
.fireworks>div span{
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-animation: burst_fireworks 0.5s ease-in-out 9s forwards;
          animation: burst_fireworks 0.5s ease-in-out 9s forwards;
}
.fireworks>div span:nth-child(1){
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.fireworks>div span:nth-child(2){
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
.fireworks>div span:nth-child(3){
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}
.fireworks>div span:before{
  content: '';
  width: 2px;
  height: 50px;
  display: block;
  background: #f5cc06;
  position: absolute;
  top: -60px;
  left: 2px;
}
.fireworks>div span:after{
  content: '';
  width: 2px;
  height: 50px;
  display: block;
  background: #f5cc06;
  position: absolute;
  bottom: -60px;
  left: 2px;
}
.fireworks>div span i:before{
  content: '';
  width: 3px;
  height: 3px;
  display: block;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -15px;
  left: 10px;
}
.fireworks>div span i:after{
  content: '';
  width: 3px;
  height: 3px;
  display: block;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -15px;
  right: 10px;
}
a.author{
  font-family: 'Handlee', cursive;
  font-size: 32px;
  text-decoration: none;
  color: #f47c7c;
  position: fixed;
  bottom: 10px;
  right: 100px;
}

@-webkit-keyframes in_2019 {
  0% {
    right: 0%;
  }
  66.6666% {
    right: 50%;
    margin-right: -300px;
  }
  90% {
    right: 50%;
    margin-right: -300px;
  }
  100% {
    right: 50%;
  }
}

@keyframes in_2019 {
  0% {
    right: 0%;
  }
  66.6666% {
    right: 50%;
    margin-right: -300px;
  }
  90% {
    right: 50%;
    margin-right: -300px;
  }
  100% {
    right: 50%;
  }
}
@-webkit-keyframes in_and_out_balloon {
  0% {
    right: 0%;
  }
  40% {
    right: 50%;
    margin-right: -300px;
  }
  50% {
    right: 50%;
    margin-right: -200px;
    top: 50%;
  }
  100% {
    top: -100%;
    right: 50%;
  }
}
@keyframes in_and_out_balloon {
  0% {
    right: 0%;
  }
  40% {
    right: 50%;
    margin-right: -300px;
  }
  50% {
    right: 50%;
    margin-right: -200px;
    top: 50%;
  }
  100% {
    top: -100%;
    right: 50%;
  }
}
@-webkit-keyframes entry_balloon {
  0% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    width: 40px;
  }
  100% {
    -webkit-transform: rotate(-150deg);
            transform: rotate(-150deg);
    width: 70px;
  }
}
@keyframes entry_balloon {
  0% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
    width: 40px;
  }
  100% {
    -webkit-transform: rotate(-150deg);
            transform: rotate(-150deg);
    width: 70px;
  }
}
@-webkit-keyframes out_2018 {
  0% {
    top: 50%;
  }
  100% {
    top: -100%;
  }
}
@keyframes out_2018 {
  0% {
    top: 50%;
  }
  100% {
    top: -100%;
  }
}
@-webkit-keyframes in_happy {
  0% {
    margin-top: 0px;
    opacity: 0;
  }
  100% {
    margin-top: -200px;;
    opacity: 1;
  }
}
@keyframes in_happy {
  0% {
    margin-top: 0px;
    opacity: 0;
  }
  100% {
    margin-top: -200px;;
    opacity: 1;
  }
}
@-webkit-keyframes drop_fireworks {
  0% {
    margin-top: 100%;
    opacity: 0;
    width: 2px;
    height: 30px;
    display: block;
    border-radius: 50%;
  }
  75% {
    margin-top: 0%;
    opacity: 1;
    width: 2px;
    height: 30px;
    display: block;
    border-radius: 50%;
  }
  80%{
    margin-top: 0px;
    margin-left: 0px;
    opacity: 1;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100%{
    opacity: 1;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes drop_fireworks {
  0% {
    margin-top: 100%;
    opacity: 0;
    width: 2px;
    height: 30px;
    display: block;
    border-radius: 50%;
  }
  75% {
    margin-top: 0%;
    opacity: 1;
    width: 2px;
    height: 30px;
    display: block;
    border-radius: 50%;
  }
  80%{
    margin-top: 0px;
    margin-left: 0px;
    opacity: 1;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100%{
    opacity: 1;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes burst_fireworks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes burst_fireworks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}